*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
resources
outputs.json

# CDK context file (contains environment-specific information, should not be committed)
cdk.context.json
